<html>
  <head>
    <title>前赤壁賦</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" src="../taketori_js/taketori.js" charset="UTF-8"></script>
    <script type="text/javascript">
    window.onload = function () {
      var o = document.createElement('div');
      while (document.body.firstChild) {
        o.appendChild(document.body.firstChild);
      }
      o.id = 'text';
      document.body.appendChild(o);
      window.t = (new Taketori()).set(
        {
	  togglable: false,
          disableShiftTen: true,
	  height: window.innerHeight + 'px'
	}
      ).element('text').toVertical(false);
    };
    </script>
  </head>
  <body>
    <h2>前赤壁賦</h2>
<p>　　壬戌之秋，七月既望，<u>蘇子</u>與客泛舟遊於<u>赤壁</u>之下。淸風徐來，水波不興，擧酒屬客，誦明月之詩，歌窈窕之章。少焉，月出於東山之上，徘徊於<u>斗</u><u>牛</u>之閒，白露横江，水光接天；縱一葦之所如，凌萬頃之茫然。浩浩乎如馮虚御風而不知其所止；飄飄乎如遺世獨立，羽化而登仙。</p>

<p>　　於是飲酒樂甚，扣舷而歌之。歌曰：「桂櫂兮蘭槳，撃空明兮泝流光。渺渺兮予懷，望美人兮天一方。」客有吹洞簫者，倚歌而和之，其聲嗚嗚然，如怨如慕，如泣如訴，餘音嫋嫋，不絶如縷。舞幽壑之濳蛟，泣孤舟之嫠婦。</p>
<p>　　<u>蘇子</u>愀然，正襟危坐而問客曰：「何爲其然也？」</p>
<p>　　客曰：「『月明星稀，烏鵲南飛』此非<u>曹孟德</u>之詩乎？西望<u>夏</u>口，東望<u>武昌</u>，山川相繆，鬱乎蒼蒼，此非<u>孟德</u>之困於<u>周</u>郎者乎？方其破<u>荊州</u>、下<u>江陵</u>，順流而東也，舳艫千里，旌旗蔽空，釃酒臨江，横槊賦詩，固一世之雄也，而今安在哉？況吾與子，漁樵於江渚之上，侶魚鰕而友麋鹿，駕一葉之輕舟，擧匏樽以相屬，寄蜉蝣於天地，眇滄海之一粟，哀吾生之須臾，羨長江之無窮！挾飛仙以遨遊，抱明月而長終，知不可乎驟得，託遺響於悲風。」</p>

<p>　　<u>蘇子</u>曰：「客亦知夫水與月乎？逝者如斯而未嘗往也，盈虚者如彼而卒莫消長也，蓋將自其變者而觀之，則天地曾不能以一瞬；自其不變者而觀之，則物與我皆無盡也，而又何羨乎？且夫天地之閒，物各有主。苟非吾之所有，雖一毫而莫取，惟江上之淸風與山閒之明月，耳得之而爲聲，目遇之而成色，取之無禁，用之不竭，是造物者之無盡藏也，而吾與子之所共適。」</p>
<p>　　客喜而笑，洗盞更酌。肴核既盡，杯盤狼藉，相與枕藉乎舟中，不知東方之既白。</p>

  </body>
</html>
